Package: modern-utils
Version: 20161123
Architecture: all
Maintainer: Michael Fincham <michael@hotplate.co.nz>
Installed-Size: 27
Section: utils
Priority: optional
Multi-Arch: foreign
Homepage: https://modern.gen.nz/
Description: Modern desktop utilities
 A selection of small utilities used with the Modern
 desktop environment. Mostly launchers and wrappers to
 modify the default behaviour of other programs.
