Source: modern-utils
Section: utils
Priority: optional
Maintainer: Michael Fincham <michael@hotplate.co.nz>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://modern.gen.nz/

Package: modern-utils
Architecture: all
Depends:
 ${misc:Depends}, python3-xdg 
Section: utils
Multi-Arch: foreign
Description: Modern desktop utilities
 A selection of small utilities used with the Modern
 desktop environment. Mostly launchers and wrappers to
 modify the default behaviour of other programs.
