Package: modern
Source: modern-metapackages
Version: 20161122
Architecture: all
Maintainer: Michael Fincham <michael@hotplate.co.nz>
Installed-Size: 26
Depends: i3, xfce4-terminal, xinit
Recommends: chromium
Suggests: sylpheed
Section: metapackages
Priority: optional
Homepage: https://modern.gen.nz/
Description: Metapackage for Modern desktop
 Modern is a minimal tiling desktop environment.
 .
 This metapackage depends on the core components of Modern and their
 dependencies.
