Source: modern-metapackages
Section: metapackages
Priority: optional
Maintainer: Michael Fincham <michael@hotplate.co.nz>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://modern.gen.nz/

Package: modern
Architecture: all
Provides: x-session-manager
Suggests: lightdm | x-display-manager
Depends:
 ${misc:Depends}, compton, dirmngr, dunst, feh, fonts-noto-color-emoji, gnome-themes-extra, gvfs-bin, i3status, i3-wm, libnotify-bin, network-manager, onboard, pavucontrol, pcscd, pinentry-gnome3, psmisc, pulseaudio, python3, scdaemon, suckless-tools, sudo, vim, xfce4-power-manager, xfce4-terminal, xinit, xinput, xscreensaver, xserver-xorg
Description: Minimalist tiling desktop environment
 This package depends on the core components of Modern as well
 as providing the Modern session and configuration manager.
